$color-Red: hsl(0, 100%, 74%);
$color-Green: hsl(154, 59%, 51%);
$color-Blue: hsl(248, 32%, 49%);
$color-Dark-Blue: hsl(249, 10%, 26%); 
$color-Grayish-Blue: hsl(246, 25%, 77%);
$color-white:hsl(255, 100%, 100%);
$font-size1: 1.6rem;
$fw-normal: 500;
$fw-semibold: 600;
$fw-light: 400;
$fw-bold: 700;
$color:hsl(249, 10%, 26%, .85);